.note {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  color: white;
  box-shadow: 5px 3px 3px black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.note::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}

.note:hover::before {
  transform: translate(-50%, -50%) scale(10);
  opacity: 1;
}

.note:active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-click 0.6s ease-out;
  pointer-events: none;
}

@keyframes ripple-click {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(6);
    opacity: 0;
  }
}

/* 色設定 */
.note.a {
  background-color: rgb(224, 77, 77);
} /* 赤 */
.note.b {
  background-color: rgb(224, 143, 77);
} /* オレンジ */
.note.c {
  background-color: rgb(224, 212, 77);
} /* 黄 */
.note.d {
  background-color: rgb(122, 224, 77);
} /* 黄緑 */
.note.e {
  background-color: rgb(77, 190, 224);
} /* 青 */
.note.f {
  background-color: rgb(130, 77, 224);
} /* 紫 */
.note.g {
  background-color: rgb(224, 77, 190);
} /* ピンク */

.note.root {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border-width: 0px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 波紋エフェクトを復活させる場合は以下も必要 */
.note.root::before,
.note.root::after {
  display: block;
}

/* 四角形用の色指定 */
.note.a.root {
  background-color: rgb(224, 77, 77);
  border-color: rgba(224, 77, 77, 0.5);
}
.note.b.root {
  background-color: rgb(224, 143, 77);
  border-color: rgba(224, 143, 77, 0.5);
}
.note.c.root {
  background-color: rgb(224, 212, 77);
  border-color: rgba(224, 212, 77, 0.5);
}
.note.d.root {
  background-color: rgb(122, 224, 77);
  border-color: rgba(122, 224, 77, 0.5);
}
.note.e.root {
  background-color: rgb(77, 190, 224);
  border-color: rgba(77, 190, 224, 0.5);
}
.note.f.root {
  background-color: rgb(130, 77, 224);
  border-color: rgba(130, 77, 224, 0.5);
}
.note.g.root {
  background-color: rgb(224, 77, 190);
  border-color: rgba(224, 77, 190, 0.5);
}

/* accidental の位置調整 */
.accidental {
  position: absolute;
  top: -5px; /* 少し上にずらす */
  right: -5px; /* 少し右にずらす */
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  color: gray;
  border-radius: 50%;
  border: #ffffff 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}

/* root の場合の accidental の位置調整 */
.accidental.root {
  top: -5px;
  right: -5px;
  border: #ffffff 7px solid;
  font-size: 13px;
}
